{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="profile-image">
          <img src="{% static 'images/faces/face5.jpg'%}" alt="image"/>
        </div>
        <div class="profile-name">
          <p class="name">
            Welcome {{request.user.username}}
          </p>
         
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashboard' %}">
        <i class="fa fa-home menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
 
    <li class="nav-item">
      <a class="nav-link"  href="{% url 'received' %}" aria-expanded="false" aria-controls="page-layouts">
        <i class="fas fa-eye menu-icon"></i>
        <span class="menu-title">View Received</span>
        <i class="menu-arrow"></i>
      </a>
      
    </li>

    <li class="nav-item">
      <a class="nav-link"  href="{% url 'addreceived' %}" aria-expanded="false" aria-controls="page-layouts">
        <i class="fas fa-upload menu-icon"></i>
        <span class="menu-title">Upload  Received</span>
        <i class="menu-arrow"></i>
      </a>
      
    </li>

    <li class="nav-item">
      <a class="nav-link"  href="{% url 'sent' %}" aria-expanded="false" aria-controls="general-pages">
        <i class="fas fa-eye menu-icon"></i>
        <span class="menu-title">View Sent </span>
        <i class="menu-arrow"></i>
      </a>
      
    </li>
   
    <li class="nav-item">
      <a class="nav-link"  href="{% url 'addsent' %}" aria-expanded="false" aria-controls="general-pages">
        <i class="fas fa-upload menu-icon"></i>
        <span class="menu-title">Upload Sent </span>
        <i class="menu-arrow"></i>
      </a>
      
    </li>
    <li class="nav-item">
      <a class="nav-link"  href="" aria-expanded="false" aria-controls="general-pages">
        <i class="fas fa-user menu-icon"></i>
        <span class="menu-title" "disabled" >User Management </span>
        <i class="menu-arrow"></i>
      </a>
      
    </li>
  </ul>
</nav>

<script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
<script src="{% static 'vendors/js/vendor.bundle.addons.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="{% static 'js/off-canvas.js' %}"></script>
<script src="{% static 'js/hoverable-collapse.js' %}"></script>
<script src="{% static 'js/misc.js' %}"></script>
<script src="{% static 'js/settings.js' %}"></script>
<script src="{% static 'js/todolist.js' %}"></script>